<div class="piano-covers">
    <h2> Piano Hits</h2>
    <div class="hit" (click)="playCover('horror-chase-music-loop')">
      <div class="image">
        <img src="https://styles.redditmedia.com/t5_bkgt37/styles/communityIcon_2groeqnt022d1.png" alt="Hit 1">
      </div>
      <div class="overlay"></div>
    </div>
    <div class="hit" (click)="playCover('halloween-piano-sample')">
      <div class="image">
        <img src="https://cdn.pixabay.com/audio/2023/04/04/18-09-10-121_200x200.jpg" alt="Hit 2">
      </div>
      <div class="overlay"></div>
    </div>
    <div class="hit" (click)="playCover('soft-piano')">
      <div class="image">
        <img src="https://cdn.pixabay.com/audio/2022/06/04/12-08-37-328_200x200.jpg" alt="soft-piano">
      </div>
      <div class="overlay"></div>
    </div>
    <div class="hit" (click)="playCover('emotional')">
        <div class="image">
          <img src="https://cdn.pixabay.com/audio/2023/04/24/23-13-07-561_200x200.jpg" alt="Hit 1">
        </div>
        <div class="overlay"></div>
      </div>
      <div class="hit" (click)="playCover('fun')">
        <div class="image">
          <img src="https://cdn.pixabay.com/audio/2024/03/22/18-21-37-795_200x200.jpg" alt="Hit 1">
        </div>
        <div class="overlay"></div>
      </div>
      <div class="hit" (click)="playCover('soft')">
        <div class="image">
          <img src="https://cdn.pixabay.com/audio/2022/10/01/18-35-24-204_200x200.jpg" alt="Hit 1">
        </div>
        <div class="overlay"></div>
      </div><div class="hit" (click)="playCover('super')">
        <div class="image">
          <img src="https://cdn.pixabay.com/audio/2024/04/05/13-49-42-476_200x200.jpg" alt="Hit 1">
        </div>
        <div class="overlay"></div>
        <div class="overlay"></div>
      </div><div class="hit" (click)="playCover('emot')">
        <div class="image">
          <img src="https://cdn.pixabay.com/audio/2023/11/13/13-53-48-808_200x200.jpg" alt="Hit 1">
        </div>
        <div class="overlay"></div>
        <div class="overlay"></div>
      </div><div class="hit" (click)="playCover('be')">
        <div class="image">
          <img src="https://cdn.pixabay.com/audio/2022/06/09/17-36-33-596_200x200.jpg" alt="Hit 1">
        </div>
        <div class="overlay"></div>
        <div class="overlay"></div>
      </div><div class="hit" (click)="playCover('sad')">
        <div class="image">
          <img src="https://cdn.pixabay.com/audio/2023/01/24/18-15-48-733_200x200.jpg" alt="Hit 1">
        </div>
        <div class="overlay"></div>
        
        
      </div>
      
    <audio #audioPlayer></audio>
  </div>
  