<div class="piano">
  <div class="key white" (click)="playSound('A')"></div>
  <div class="key black" (click)="playSound('B')"></div>
  <div class="key white" (click)="playSound('C')"></div>
  <div class="key black" (click)="playSound('D')"></div>
  <div class="key white" (click)="playSound('E')"></div>
  <div class="key white" (click)="playSound('F')"></div>
  <div class="key black" (click)="playSound('G')"></div>
  <div class="key white" (click)="playSound('H')"></div>
  <div class="key black" (click)="playSound('I')"></div>
  <div class="key white" (click)="playSound('J')"></div>
  <div class="key black" (click)="playSound('Q')"></div>
  <div class="key white" (click)="playSound('L')"></div>
</div>
<audio #audioPlayer></audio>
